*, *:before, *:after {   
    box-sizing: inherit; 
}
html {   
    box-sizing: border-box; 
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
h1{
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    margin: 20px 10px;
}
p{
    color: hsl(210, 10%, 33%);
    font-weight: 400;
    opacity: .6;
    line-height: 1.7;
    font-size: 18px;
    margin: 0px 10px;
}
span{
    color: hsl(210, 10%, 33%);
    font-weight: 400;
    opacity: .6;
    line-height: 1.7;
    font-size: 18px;
    margin: 0px 10px;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,auto);
    grid-row-gap: 200px;
}
/* Top container */
.top-container{
    background-image: url(/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    text-align: center;
}
.top-container img{
    margin-top: 7em;
    margin-bottom: 2em;
}
.download-ios{
    height: auto;
    width: auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: white;
    background-color: hsl(171, 66%, 44%);
    border: solid;
    border-top: 0px;
    border-color:  hsl(171, 40%, 44%);
    padding: 18px 90px;
    border-radius: 180px;
    margin: 15px 0px;
}
.download-mac{
    height: auto;
    width: auto;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: white;
    background-color: hsl(233, 100%, 69%);
    border: solid;
    border-top: 0px;
    border-color: hsl(233, 60%, 50%);
    padding: 18px 90px;
    border-radius: 180px;
    margin-top: 15px;
}

/* Description1 */

.description1{
    text-align: center;
}
.description1 img{
    width: 300px;
    margin: 60px 0px;
}

/* Description 2 */
.description2{
    text-align: center;
}
.description2 img{
    width: 300px;
    margin: 60px 0px;
}

/* Description 3 */

.description3{
    text-align: center;
}
.desc3-icon{
    width: 50px;
    margin: 50px 0px;
}

/* Sponsors */
.sponsors{
    display: grid;
    align-content: center;
    justify-content: center;
}
.sponsors img{
    display: block;
    margin: 50px 0px;
}

/* Clipboard */

.clipboard{
    text-align: center;
}

/* buttom-container */
.buttom-container{
    text-align: center;
    display: block;
    background-color:#eeeeee;
    padding-top: 30px;
    margin: 0;

}
.buttom-container span{
    font-weight: 700;
    line-height: 2.8;
}
.buttom-container img{
    width: 80px;
    margin-bottom: 50px;
}
.social-media{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.social-media img{
    width: 30px;
}

